/* Existing styles */
#header {
  background-color: #1a1a1a; /* Darker shade for header */
  color: #00ff00; /* Bright green text, common in hacking themes */
  border-bottom: 2px solid #444; /* Add a green bottom border */
  text-align: center;
}

#treeChart {
  background-color: #333; /* Keep the dark background */
  border: 1px solid #444; /* Optional: add a subtle border */
  width: 100%; /* Take full width of its parent */
  text-align: center;
  margin: auto; /* Center it horizontally */
  overflow: auto; /* Adds scrollbars if content overflows */
}

/* New styles to be added */
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0; /* Resets the default margin */
}

#header img {
  max-width: 64px;
  height: auto;
}